<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fone.fonetesting">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcherr"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcherr_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.fone.fonetesting.activities.Information">
        </activity>
        <activity android:name="com.fone.fonetesting.activities.WordMatchWordLevelActivity">
        </activity>
        <activity android:name="com.fone.fonetesting.activities.Game1">
        </activity>
        <activity
                android:name="com.fone.fonetesting.activities.SplashActivity"
                android:noHistory="true"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.fone.fonetesting.activities.LoginActivity"/>
        <activity android:name="com.fone.fonetesting.activities.RegisterActivity"/>
        <activity android:name="com.fone.fonetesting.activities.MainActivity"/>
        <activity android:name="com.fone.fonetesting.activities.ForgotPasswordActivity"/>
    </application>

</manifest>